@import "custom";

#backgroundArt {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  background-image: url(./assets/background.png);
  background-repeat: no-repeat;
}

#backgroundArt2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 500px;
  background-image: url(./assets/background-2.png);
  background-repeat: no-repeat;
}

.menuOption {
  margin-bottom: 20px;
}

.btn {
  font-size: 30px !important;
  width: 60%;
}

.playerControls {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  position: absolute;
  height: 200px;
  width: 400px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  right: 0;
  bottom: 140px;
  opacity: 0.9;
  background-color: #e21e12;

  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    font-size: 8em;
  }
}
