@import "custom";

#backgroundArt {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  background-image: url(./background.png);
  background-repeat: no-repeat;
}

.menuOption {
  margin-bottom: 20px;
}

.btn {
  font-size: 30px !important;
  width: 60%;
}
